<?xml version="1.0" ?>
<model>
    <name>pet_gate_wide</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>
    <author>
        <name>Ilia O.</name>
        <email>iliao@kaia.ai</email>
    </author>
    <description>Pet Gate 30.5in tall, 65in wide, 1in bars, 5.5in gaps</description>
</model>
