<?xml version="1.0"?>

<model>
  <name>Kaia Snoopy</name>
  <version>0.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ilia O.</name>
    <email>iliao@remake.ai</email>
  </author>

  <description>Kaia Snoopy</description>
</model>
