<?xml version="1.0"?>
<model>
  <name>red_ball_10in</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Ilia O.</name>
    <email>iliao@kaia.ai</email>
  </author>

  <description>
    A 10" red ball for Maker's Pet home robots to play with
  </description>
</model>
